# Dart and Pub
.dart_tool/
.packages
build/
pubspec.lock

# IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

# Playwright specific
referencias/
.cache/

# Local debug artifacts
scratch/
/test_win32.dart
